{{ define "main" }}
<header class="request__header">
    <div class="hero">
        <div class="container">
            {{ with .Site.Params.hero }}
            <div class="hero__content">
                <a href="/">
                <img class="hero__logo" src="/images/logo-white.svg" alt="">
                </a>
                <p class="hero__text">
                    <strong class="hero__quote">"</strong>
                    {{ .description }}
                    <strong class="hero__quote">"</strong>
                </p>
                <a class="hero__button btn btn-success text-uppercase" href="">S'inscrire Maintenant</a>
                <a class="hero__link" href="">Déjà inscrit ? Se connecter.</a>
                <a href="#section__feature"></a>
            </div>
            {{ end }}
        </div>
    </div>
</header>

<!-- Landing / Section 1 -->
<section class="reveal-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section__feature" id="section__feature">
                    <img class="section__img" src="https://res.cloudinary.com/dw06d9fmy/image/upload/q_50/v1544654148/rawpixel-761483-unsplash.jpg" alt="">
                    <div class="section__img--background"></div>
                </div>
            </div>
            <div class="col-md-6">
                {{ with .Site.Params.section_01 }}
                <div class="section__content">
                    <div class="section__title">
                        <strong>01</strong>
                        <h3>{{ .title }}</h3>
                    </div>
                    <p class="section__text">
                      {{ .description }}
                    </p>
                    <div class="section__footer">
                        <a class="section__button btn btn-outline-success" href="">Créer mon profil</a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr>
</div>

<!-- Landing / Section 3 -->
<section class="reveal-right">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                    {{ with .Site.Params.section_02 }}
                <div class="section__content">
                    <div class="section__title">
                        <strong>02</strong>
                        <h3>{{ .title }}</h3>
                    </div>
                    <p class="section__text">
                        {{ .description }}
                    </p>
                    <div class="section__footer">
                        <a class="section__button btn btn-outline-success" href="">Recevoir des offres</a>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="col-md-6">
                <div class="section__feature">
                    <img class="section__img" src="https://res.cloudinary.com/dw06d9fmy/image/upload/q_50/v1544654148/rawpixel-761483-unsplash.jpg" alt="">
                    <div class="section__img--background"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr>
</div>

<!-- Landing / Section 4 -->
<section class="reveal-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section__feature">
                    <img class="section__img" src="https://res.cloudinary.com/dw06d9fmy/image/upload/q_50/v1544654153/helloquence-61189-unsplash.jpg" alt="">
                    <div class="section__img--background"></div>
                </div>
            </div>
            <div class="col-md-6">
                    {{ with .Site.Params.section_03 }}
                    <div class="section__content">
                        <div class="section__title">
                            <strong>03</strong>
                            <h3>{{ .title }}</h3>
                        </div>
                        <p class="section__text">
                            {{ .description }}
                        </p>
                        <div class="section__footer">
                            <a class="section__button btn btn-outline-success" href="">Postuler</a>
                        </div>
                    </div>
                    {{ end }}
            </div>
        </div>
    </div>
</section>
<!-- Landing / Section 2 -->
<section class="reveal-left">
    <div class="container">
        <div class="section__big">

            <div class="section__img--background"></div>
            <div class="row">
                <div class="col-md-6">
                    {{ with .Site.Params.testimonials_01 }}
                    <div class="section__content">
                        <img src="https://res.cloudinary.com/dw06d9fmy/image/upload/q_50/v1544654178/peter-sjo-1140062-unsplash2.jpg.jpg" alt="">
                        <p class="section__text">
                            <strong> " </strong>
                            {{ .description }}
                            <strong> " </strong>
                        </p>
                    </div>
                    {{ end }}
                </div>

                <div class="col-md-6">
                {{ with .Site.Params.testimonials_02 }}
                <div class="section__content">
                    <img src="https://res.cloudinary.com/dw06d9fmy/image/upload/q_50/v1544654169/pexels-photo-428333.jpg" alt="">
                    <p class="section__text">
                        <strong> " </strong>
                        {{ .description }}
                        <strong> " </strong>
                    </p>
                </div>
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="request__section--newsletter">
    <div class="container">
        <div class="text-center">
            <h3>Recevez notre Newsletter</h3>
            <p>Inscrivez-vous à notre newsletter et recevez nos conseils personnalisés pour optimiser encore plus votre
                recherche d’emploi</p>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Entrez votre e-mail" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-light" type="button" id="button-addon2">S'inscrire</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}