<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="language" content="fr-FR" />
    <meta name="robots" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/images/favicon.ico" | absURL }}" />

    {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#fd5c63",
      "text": "#ffffff"
    },
    "button": {
      "background": "#2ec4b9",
      "text": "#ffffff"
    }
  },
  "content": {
    "message": "Ce site utilise des cookies pour vous offrir un meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.",
    "dismiss": "J'accepte",
    "link": "En savoir plus",
    "href": "www.cappascap.pw/policy.html"
  }
})});
</script>

</head>
<body>
    <main class="home__hero">
        <header class="home__hero--header">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ .Site.BaseURL}}">
                        <img src="images/logo-white.svg" width="70" height="70" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
        <section class="home__hero--content">
            <div class="container">
                <h1>Cap'Pas'Cap, la plateforme qui fait matcher emploi et travail en 24h.</h1>
            </div>
                <div class="home__hero--buttons">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <p>Inscrivez vous et accédez à nos offres d'emploi</p>
                            <a class="btn btn-primary" href="{{ .Site.BaseURL}}/request">Trouvez un emploi</a>
                        </div>
                        <div class="col-md-4">
                            <p>Trouvez l'employer qui correspond à vos attentes</p>
                            <a class="btn btn-secondary" href="{{ .Site.BaseURL}}/offer">Poster un emploi</a>
                        </div>
                    </div>
                </div>
        </section>
        <footer class="home__footer">&copy; Copyright {{ now.Format "2006" }} / {{ .Site.Title }}</footer>
    </main>
    {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
</body>
</html>
