.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    font-weight: 500;
}
.btn-primary:hover {
    color: #fff;
    background-color: rgba($color: $primary, $alpha: 0.7);
    border-color: rgba($color: $primary, $alpha: 0.7);
}

.btn-secondary {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
    font-weight: 500;
}
.btn-secondary:hover {
    color: #fff;
    background-color: rgba($color: $secondary, $alpha: 0.7);
    border-color: rgba($color: $secondary, $alpha: 0.7);
}